VITE_APP_NAME=Invisi Fight
VITE_PUBLIC_BASE_PATH=/
VITE_SERVER_HTTP_URL=http://127.0.0.1:2567
VITE_SERVER_WS_URL=ws://127.0.0.1:2567
VITE_BUILD_ENV=development
VITE_BUILD_COMMIT_SHA=local-dev
VITE_GITHUB_PAGES_REPO_NAME=Invisi_Fight
VITE_ENABLE_DEBUG_OVERLAY=true
VITE_ENABLE_AUDIO=true

